.login{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}
.loginWrapper{
    width: 70%;
    height: 70%;
    
    display: flex;

}
.loginLeft{
    flex: 1;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
}
.loginLogo{
    font-weight: 800px;
    font-size: 50px;
    color: #1775ee;
    margin-bottom: 15px;
}
.loginDesc{
    font-size: 24px;
}
.loginRight{
    flex: 1;
    display: flex;
    align-items: center;
    
    justify-content: center;
   
}
.loginBox{
    width: 80%;
    height: 70%;

    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    
}
.loginInput{
    margin-bottom: 20px;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    border: 1px solid gray;
    padding-left: 10px;
}
.loginButton{
    height: 40px;
    border: none;
    background-color: #1775ee;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.loginForgot{
    text-align: center;
    color: #1775ee;
    margin-bottom: 20px;
    margin-top: 20px;
}
.loginRegisterButton{
    width: 60%;
    align-self: center;
    height: 40px;
    border: none;
    background-color: #42b72a;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.loading{
    color: white !important;
}